.list_header {
    margin: 10px;
}

.list_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.list_no_result{
    height: 40vh;
    padding-top: 20vh;
    margin: auto;
    text-align: center;
}